<update id="batchUpdateLikeCount">
    UPDATE comment
    SET like_count = like_count +
    <foreach collection="stats" item="value" index="key" separator=" " open="CASE id" close="END">
        WHEN #{key} THEN #{value}
    </foreach>
    WHERE id IN
    <foreach collection="stats" item="value" index="key" separator="," open="(" close=")">
        #{key}
    </foreach>
</update>